<section class="hero">
    <div class="hero-image">
        <img src="/assets/images/profile.jpg" alt="Jennifer Andréoli-Fang" onerror="this.src='/assets/images/placeholder.jpg'">
    </div>
</section>

<section class="intro">
    <h2>Hi! Bonjour! Salut!</h2>
    <p>I'm Jennifer Andreoli-Fang, a CTO, and a builder in AI systems. I have a PhD in machine learning and networks. I grew up listening to stories of Marie Curie and learning about protons and electrons, and building circuits on breadboards in a small town in Virginia.</p>
    <p>My focus in on building AI-powered tools to help people and organizations. I'm currently exploring use cases of AI in health tech, data center, logistics, and finance.</p>
    <p>Previously, I worked at AWS where I led the development of AI-powered tools and cloud solutions for the cable industry. Before that, I worked at CableLabs, the cable industry's R&D lab, where I led the development of DOCSIS technology, as well as mobile LTE, 5G, and Wi-Fi.</p>
    <p>I enjoy buliding side projects, learning about fun technical challenges, and collaborating with great teams. Whether you are looking for a speaker, a strategist, a co-founder, or a collaborator, reach out if you want to find a way to work together!</p>
    <p>Off work, I enjoying painting landscapes with oil in the studio and in plein air. I also enjoy running trails and paddleboard with my White Swiss Shepherd puppy Snowy.</p>
</section>
